.navbar {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.image-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-generator__image {
    width: 80%;
    object-fit: cover;
    border: 1px solid #000;
    max-width: 80vh; /* since it's a square image that applies to the height too */
}

.image-generator__buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-generator__button {
    margin-bottom: 1rem;
    width: 100%;
}

.image-generator__button:not(:first-child) {
    margin-left: 1rem;
}

.image-generator__config {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.image-generator__config fieldset {
    min-width: 120px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

input[type=color] {
    width: 100%;
    height: 40px;
}

.examples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding-left: 1rem;
}

.examples__image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples__image-info img {
    width: 100%;
    object-fit: cover;
}

figure {
    margin: 0 0 1rem 0;
}

.article__content {
    max-width: 620px;
}
