.navbar {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.image-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-generator__image {
    width: 80%;
    object-fit: cover;
    border: 1px solid #000;
    max-width: 80vh; /* since it's a square image that applies to the height too */
}

.image-generator__buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-generator__button {
    margin-bottom: 1rem;
    width: 100%;
}

.image-generator__button:not(:first-child) {
    margin-left: 1rem;
}

.image-generator__config {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.image-generator__config fieldset {
    min-width: 120px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

input[type=color] {
    width: 100%;
    height: 40px;
}

.examples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.examples__image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1450px) {
    .examples__image-info:nth-child(2) {
        grid-column: 2 / 1;
    }
}

.examples__image-info img {
    width: 100%;
    object-fit: cover;
}

figure {
    margin: 0 0 1rem 0;
}

.about {
    display: grid;
    /* https://baymard.com/blog/line-length-readability */
    grid-template-columns: minmax(20ch, 60ch);
    grid-template-rows: auto;
    gap: 1rem;
}

@media (min-width: 700px) {
    .about {
        grid-template-columns: 0 minmax(20ch, 60ch) minmax(250px, 100%) 0;
    }
}
