<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="an abstract art generator">
    <title>DALL-F</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script defer src="./js/index.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body id="app">
<header>
    <nav class="w3-bar w3-indigo w3-padding-16">
        <a class="w3-bar-item w3-button" href="#dall-f">
            DALL-F
        </a>
        <a class="w3-bar-item w3-button w3-center" href="#about">
            About
        </a>
    </nav>
</header>
<main>
    <section class="w3-row" id="dall-f">
        <section class="w3-half w3-container w3-center">
            <div class="w3-bar w3-margin-top w3-center">
                <button class="w3-button w3-margin-bottom w3-margin-right w3-indigo w3-round w3-mobile" @click="generate">
                    Generate
                </button>
                <button class="w3-button w3-margin-bottom w3-margin-right w3-indigo w3-round w3-mobile" @click="clear">Clear</button>
                <button class="w3-button w3-margin-bottom w3-indigo w3-round w3-mobile" @click="download">Download</button>
            </div>
            <form class="w3-container w3-margin-bottom w3-row">
                <fieldset
                        v-for="key in Object.keys(generator)"
                        :key="key"
                        class="w3-round w3-col"
                        style="width: 22.9%;"
                >
                    <label
                            class="w3-text-indigo"
                            :for="key"
                    >
                        <strong>{{toTitleCase(key)}}</strong>
                    </label>
                    <input
                            :id="key"
                            class="w3-input w3-border w3-light-grey"
                            :type="generator[key].type"
                            :min="generator[key].min"
                            @change="generator[key].onChange"
                            v-model="generator[key].value"
                    >
                </fieldset>
            </form>
            <canvas class="image-generator__image" ref="canvas"></canvas>
        </section>
        <aside class="w3-half">
            <form
                    class="w3-container"
                    action="/submit.php"
                    method="POST"
            >
                <h3>Submission</h3>
                <p
                        class="w3-text-red"
                        v-if="error"
                >
                    {{error}}
                </p>
                <fieldset class="w3-round">
                    <template v-for="key in Object.keys(form)">
                        <label
                                :for="key"
                                v-if="!form[key].hidden"
                        >
                            {{toTitleCase(key)}}
                        </label>
                        <input
                                class="w3-input"
                                v-show="!form[key].hidden"
                                :placeholder="form[key].placeholder"
                                :type="form[key].type"
                                :name="key"
                                :min="form[key].min"
                                :max="form[key].max"
                                v-model="form[key].value"
                                @input="validate"
                                :class="{'w3-border-red': form[key].error}"
                        >
                    </template>
                    <input
                            class="w3-button w3-green w3-margin-top w3-round"
                            type="submit"
                            value="Submit"
                            :disabled="!canSubmit"
                    >
                </fieldset>
            </form>
        </aside>
    </section>
    <hr>
    <!-- note: this is the section with custom positioning (grid) -->
    <section id="about" class="w3-container about">
        <article class="article">
            <h3>About</h3>
            <p class="article__content">
                You might have come across OpenAI's <a href="https://openai.com/blog/dall-e/">DALL-E</a> project.
                This is an artificial intelligence that can generate images from text descriptions.
                However, it disappoints in creating simple, abstract art.
                DALL-F creates art inspired by works such as
                <i><a href="https://www.jackson-pollock.org/convergence.jsp">Convergence</a></i> and
                <i><a href="https://en.wikipedia.org/wiki/Composition_with_Red_Blue_and_Yellow">Composition II with Red,
                    Blue and Yellow</a></i>.
                <br>
                <br>
                DALL-F requires no registration - enter the number of ellipses, rectangles and lines
                you want to be generated and click "Generate". If you like the image, you can download it as a png.
                <br>
                <br>
                DALL-F is not only blazingly fast, platform-independent and completely free, but also requires hardly
                any resources.
                This is mainly due to the fact, that instead of neural networks, DALL-F relies on the power of
                JavaScript's Math.random function,
                which significantly outperforms any artificial intelligence.
                <br>
                In addition, DALL-F offers you many customisation options. You can even submit your art to be evaluated
                by art critics.
                All you have to do is fill in the form above. You will likely receive the result by email within a few
                weeks.
                <br>
                <br>
                In a direct comparison, DALL-E generated the image below in 14.61s, while DALL-F took merely 1.42ms
                (about 10'000 times faster).
                Like it? DALL-F 2 is already in the works. It will add a lot of new features, such as curves, polygons
                and even freeform shapes.
            </p>
        </article>
        <div class="examples">
            <figure class="examples__image-info">
                <img class="w3-round" src="img/convergence.webp" alt="Convergence">
                <figcaption class="w3-small">Convergence by Jackson Pollock</figcaption>
            </figure>
            <figure class="examples__image-info">
                <img class="w3-round" src="img/convergence_dalle.webp" alt="DALL-E creation based on Convergence">
                <figcaption class="w3-small">DALL-E creation based on Convergence (14.61s)</figcaption>
            </figure>
            <figure class="examples__image-info">
                <img class="w3-round" src="img/convergence_dallf.webp" alt="DALL-F creation based on Convergence">
                <figcaption class="w3-small">DALL-F creation based on Convergence (1.4ms)</figcaption>
            </figure>
        </div>
    </section>
</main>
</body>
</html>
