<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DALL-F</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="./js/index.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body id="app">
<header>
    <ul class="w3-bar w3-teal navbar">
        <a class="w3-bar-item w3-button" href="#dall-f">
            <h3>DALL-F</h3>
        </a>
        <a class="w3-bar-item w3-button" href="#about">About</a>
    </ul>
</header>
<main class="w3-row" id="dall-f">
    <section class="w3-half w3-container image-generator">
        <div class="image-generator__buttons">
            <button class="w3-button w3-teal w3-round image-generator__button" @click="generate">Generate</button>
            <button class="w3-button w3-teal w3-round image-generator__button" @click="clear">Clear</button>
            <button class="w3-button w3-teal w3-round image-generator__button" @click="download">Download</button>
        </div>
        <form class="w3-container w3-row image-generator__config">
            <fieldset v-for="key in Object.keys(generator)" :key="key" class="w3-round">
                <label class="w3-text-teal"><b>{{titleCase(key)}}</b></label>
                <input
                        class="w3-input w3-border w3-light-grey"
                        :type="generator[key].type"
                        @input="generator[key]?.oninput"
                        @change="generator[key]?.onchange"
                        v-model="generator[key].value"
                >
            </fieldset>
        </form>
        <canvas class="image-generator__image" ref="canvas"></canvas>
    </section>
    <section class="w3-half">
        <form class="w3-container" action="/submit.php" method="POST">
            <h2>Submission</h2>
            <p
                    class="w3-text-red"
                    v-if="error"
            >{{error}}</p>
            <fieldset class="w3-round">
                <template v-for="key in Object.keys(form)">
                    <label>{{titleCase(key)}}</label>
                    <input
                            class="w3-input"
                            :placeholder="form[key].placeholder"
                            :type="form[key].type"
                            :name="key"
                            :min="form[key].min"
                            :max="form[key].max"
                            v-model="form[key].value"
                            @input="validate"
                    >
                </template>
            </fieldset>
            <input class="w3-button w3-green w3-margin-top w3-round" type="submit" value="Submit" :disabled="!canSubmit">
        </form>
    </section>
</main>
<hr>
<main id="about">
    <section class="w3-container">
        <div class="w3-container w3-col">
            <p>
                You might have come across OpenAI's <a href="https://openai.com/blog/dall-e/">DALL-E</a> project.
                This is a neural network that can generate images from text descriptions.
                However, it disappoints in creating simple, abstract art.
                DALL-F creates art inspired by works such as
                <i><a href="https://www.jackson-pollock.org/convergence.jsp">Convergence</a></i> and
                <i><a href="https://en.wikipedia.org/wiki/Composition_with_Red_Blue_and_Yellow">Composition II with Red, Blue and Yellow</a></i>.
                <br>
                DALL-F is not only blazingly fast, platform-independent and completely free, but also requires hardly any resources.
                In addition, it offers you many customisation options and you can even submit your art to be evaluated by art critics.
                All you have to do is fill in the form above. You will receive the result by post within a few weeks.
                <br>
                In a direct comparison, DALL-F generated the following image in 1.4ms, while DALL-E took 14.61s (10'000 times faster).
            </p>
            <div class="examples">
                <div class="examples__image-info">
                    <img class="w3-round" src="./var/convergence.jpg" alt="Convergence">
                    <p class="w3-small">Convergence by Jackson Pollock</p>
                </div>
                <div class="examples__image-info">
                    <img class="w3-round" src="./var/convergence_dalle.png" alt="DALL-E creation based on Convergence">
                    <p class="w3-small">DALL-E creation based on Convergence (14.61s)</p>
                </div>
                <div class="examples__image-info">
                    <img class="w3-round" src="./var/convergence_dallf.png" alt="DALL-F creation based on Convergence">
                    <p class="w3-small">DALL-F creation based on Convergence (1.4ms)</p>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
